#scrollView {
    width: 100%;
    height: 100%;
    /*上下边距是为了演示当滚动到顶部或底部时，继续滚动鼠标滚轮会滚动整个页面*/
    margin: 0;
    display: flex;
}
 
 
 
 
#lines {
    width: 10%;
    height: 100%;
    position:absolute;
	right:0px;
	top:0px;
	background-color: red;
	display:flex;
	flex-direction:column;
	Justy-content:center;
}

.line{
	width:100%;
	flex-basis:100px;
	flex:1;
	background-color:white;
}

.inLine{
	width:100%;
	height:50%;
	flex:1;
	background-color:gray;	
}


.line-item{
	font-size:1px;
	height:1px;
}

#top{
    width: 100%;
    height: 100%;
    position:absolute;
	right:0px;
	top:0px;

	
}
 
 
 
 
#scrollContent {
    width: 90%;
    height: 100%;
    padding-left: 8px;
    background-color: antiquewhite;
    /*隐藏超出滚动内容区域的元素*/
    overflow: hidden;
}
 
#scrollTrack {
    width: 10%;
    height: 100%;
    background-color: rgba(100%,100%,100%,0);
    display: flex;
    /*竖着排列滚动条区域内的上下按钮、滑块等元素*/
    flex-direction: column;
}
 
#btnUp, #btnDown {
	width: 10px;
    height: 0px;
    background-color: brown;
}
 
#scrollBar {
    height: 10%;
    background-color: rgba(100%,100%,100%,0);
	border:solid 4px;
}
 
#trackUp {
	
	width: 100%;
    background-color: rgba(100%,100%,100%,0);
} 
 
 
#trackDown {
	
	width: 100%;
    /*让大幅度向下滚动点击区域占据排列完其他元素后剩下的所有区域*/
    flex-grow: 1;
	background-color: rgba(100%,100%,100%,0);
}
 
/*当拖动滑块时，给body元素加上该类，防止鼠标的拖动导致网页内容的选择操作*/
.unselectable {
    /*当前版本的火狐（53）和Edge（15）不支持user-select标准属性，需要使用浏览器厂商前缀*/
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
